@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 205 65% 25%;
    --card: 0 0% 100%;
    --card-foreground: 205 65% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 205 65% 25%;
    --primary: 205 65% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 204 64% 44%;
    --secondary-foreground: 0 0% 98%;
    --muted: 204 70% 95%;
    --muted-foreground: 205 65% 55%;
    --accent: 204 70% 75%;
    --accent-foreground: 205 65% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 70% 88%;
    --input: 204 70% 88%;
    --ring: 205 65% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 205 65% 10%;
    --foreground: 0 0% 98%;
    --card: 205 65% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 205 65% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 204 70% 75%;
    --primary-foreground: 205 65% 25%;
    --secondary: 204 64% 44%;
    --secondary-foreground: 0 0% 98%;
    --muted: 205 65% 15%;
    --muted-foreground: 205 65% 65%;
    --accent: 205 65% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 65% 20%;
    --input: 205 65% 20%;
    --ring: 204 70% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
